@model IEnumerable<BugZapper.Models.BugsModel>

@{
    ViewData["Title"] = "ListBugsDemo";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<h1>Now Listing Bugs...</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BugID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BugID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "EditBug", new { GID = item.Id, BugId = item.BugID }) |
                @Html.ActionLink("Details", "BugDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteBug", new { id = item.Id })*@
            </td>
        </tr>
}
    </tbody>
</table>
